* {
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    
    font-family: Arial, sans-serif, Helvetica;
}

table {
    border-collapse: collapse;
    
}

div {
    margin: auto;
    padding-left: 15rem;
}

th {
    background-color: #d0d0d0;
    text-align: center;
    font-weight: bold;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    border: 1px solid black;
}

td {
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 0.2rem;
}

.highlight {
    background-color: #e0e0ff;
}